# Secrets
oci_config.sh

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/crash.log


# Python
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
.venv/
venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Burn
trash/